div{
    background-color: rgb(212,58,192);
    padding: 25px;
    margin: 15px;
}

.flex__container{
    height: 600px;
    background-color: rgb(232,208,208);
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}